.vs
packages
Skrbot/Skrbot.Common/*.user
Skrbot/Skrbot.Common/bin
Skrbot/Skrbot.Common/obj
Skrbot/Skrbot.Core/*.user
Skrbot/Skrbot.Core/bin
Skrbot/Skrbot.Core/obj
Skrbot/Skrbot.Dao/*.user
Skrbot/Skrbot.Dao/bin
Skrbot/Skrbot.Dao/obj
Skrbot/Skrbot.Domain/*.user
Skrbot/Skrbot.Domain/bin
Skrbot/Skrbot.Domain/obj
Skrbot/Skrbot.Generic.Dao/*.user
Skrbot/Skrbot.Generic.Dao/bin
Skrbot/Skrbot.Generic.Dao/obj
Skrbot/Skrbot.WebApi/*.user
Skrbot/Skrbot.WebApi/bin
Skrbot/Skrbot.WebApi/obj
Skrbot/Skrbot.WebApi/Properties/PublishProfiles/*.user
